.boardImage{
    width: 17rem;
}
.wrong_v_wall, .wrong_h_wall{
    position: relative;
    opacity: 1 !important;
}
.wrong{
    position: absolute;
    color: rgb(168, 0, 0);
    font-weight: bolder;
    font-size: 2rem;
    right: 0rem;
}
.iboxRow, .iwallRow{
    display: flex;
    align-items: center;
}
.iboxRow{
    justify-content: center;
}   
.iwallRow{
    justify-content: space-around;
}
.ibox, .start_finish, .boxHighlighted, .iFinBox1, .iFinBox2{
    width: 3rem;
    height: 3rem;
    margin: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.ibox{
    background-color:  rgba(255, 255, 255, 0.80);
}
.start_finish{
    background-color: #fff;
}
.boxHighlighted{
    background-color: rgb(226, 98, 12);
}
.iFinBox1{
    background-color: rgb(226, 98, 12);
}
.iFinBox2{
    background-color: #911B01;
}
.horizontal_wall, .vertical_wall, .wrong_v_wall, .wrong_h_wall{
    border-radius: 3px;
    background-color: #fff;
}
.horizontal_wall, .hideHorizontalWall, .wrong_h_wall{
    width: 3rem;
    height: 0.3rem;
}
.vertical_wall, .wrong_v_wall{
    height: 3rem;
    width: 0.3rem;
}
.pawn1{
    background-color: rgb(132, 58, 7);
    display: block;
}
.winnerBox{
    border-color: rgb(132, 58, 7);
    box-shadow: 0 0 5px 3px rgb(255 255 255);
    z-index: 10;
}
.pawn2{
    background-color: #911B01;
    display: block;
}
.info{
    color: #000;
    position: absolute;
}

/* mobile */
@media only screen and (max-width: 600px) {
    .boardImage{
        width: 13rem;
    }
    .ibox, .start_finish, .boxHighlighted, .iFinBox1, .iFinBox2{
        width: 2rem;
        height: 2rem;
        margin: 0.3rem;
    }
    .pawn1, .pawn2{
        width: 1.8rem;
        height: 1.8rem;
        border-radius: 50%;
    }
    .horizontal_wall{
        width: 2rem;
        height: 0.2rem;
        margin-left: 0.4rem;
        margin-right: 0.4rem;
    }
    .vertical_wall{
        height: 2rem;
        width: 0.2rem;
        margin: 0;
    }
}

/* desktops */
@media only screen and (min-width: 601px) {
    .pawn1, .pawn2{
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
    }
}