.guide{
    flex: 1;
    overflow-x: hidden;
    /* position: relative; */
    /* padding: 1rem; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    /* background-color: red; */
}
.header{
    font-size: 1.5rem;
    text-align: left;
}
/* mobile */
@media only screen and (max-width: 900px) {
    .guide{
        margin: 1rem 1rem 0 1rem;
    }
    .header{
        margin-bottom: 0.5rem;
    }
    .guideBody{
        max-height: 80vh;
        overflow-y: scroll;
    }
}
/* desktops */
@media only screen and (min-width: 901px) {
    /* .guide{
    } */
    .header{
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
    .guideBody{
        max-height: 90vh;
        overflow-y: scroll;
    }
    .combinedSteps{
        display: flex;
    }
}