.step_w_body{
    background-color: rgba(173, 171, 171, 0.2);
    background-color: rgba(173, 171, 171, 0.2);
    display: flex;
    justify-content: space-evenly;
}
.text5{
    align-self: flex-end;
}
/* mobile */
@media only screen and (max-width: 600px) {
    .step_w_body{
        padding: 1rem;
        border-radius: 1rem;
        margin: auto 0rem 1rem 0rem;
    }
}
/* desktops */
@media only screen and (min-width: 601px) {
    .step_w_body{
        padding: 2rem;
        border-radius: 2rem;
        max-width: 50%;
        margin: auto 1rem 1rem 1rem;
    }
    .board{
        margin: auto 1rem;
    }
}