.boardInverted{
    transform: rotate(180deg);
}
.row{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.box{
    width: 4rem;
    height: 4rem;
    background-color: white;
    margin: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}
.next{
    width: 4rem;
    height: 4rem;
    background-color: rgb(247, 193, 148);
    margin: 0.3rem;
    border-radius: 5px;
}
.horizontalWall{
    width: 4.5rem;
    height: 0.3rem;
    border-radius: 3px;
    background-color: #fff;
    opacity: 0.8;
    opacity: 0.3;
}
.selectedHorizontalWall{
    width: 4.5rem;
    height: 0.3rem;
    border-radius: 3px;
    background-color: #843a07;
    opacity: 0.8;
}
.verticalWall{
    height: 4.5rem;
    width: 0.3rem;
    border-radius: 3px;
    background-color: #fff;
    opacity: 0.8;
    opacity: 0.3;
}
.selectedVerticalWall{
    height: 4.5rem;
    width: 0.3rem;
    border-radius: 3px;
    background-color: #843a07;
    opacity: 0.8;
}
.verticalWall:hover{
    background-color: #843a07;
    cursor: pointer;
}
.horizontalWall:hover{
    background-color: #843a07;
    cursor: pointer;
}
.pawn{
    color: #843a07;
}
.box > svg{
    font-size: 3.5em;
}
.opponentPawn{
    color: #698407;
}