.dailog{
    background-color: #161618;
    border-radius: 1rem;
    border: 1px solid black;
    color: #fff;
    padding: 1rem 2rem;
    position: absolute;
    bottom: 50%;
    left: 50vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 20;
    width: 300px;
    animation: appearIn 250ms forwards;
    opacity: 0;
}
.dailogMsg{
    font-size: 1rem;
}
.dailogMsg1{
    font-size: 2rem;
    margin-bottom: 1rem;
}
.buttons{
    /* width: 75%; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 16px;
    /* border: 1px solid black; */
}
.buttons button{
    flex: 1;
    text-align: center !important;
}
/* mobile */
@media only screen and (max-width: 600px) {
    .dailog{
        width: 50vw;
    }
    button:active{
        color: black;
    }
    
}
/* desktop */
@media only screen and (min-width: 600px) {
    button:hover{
        color: black;
    }
}

@keyframes appearIn {
    from{
        transform: translateX(-50%) scale(85%);
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: translateX(-50%) scale(100%);
    }
}