.enterName {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  width: 100vw;
  height: 90vh;
  z-index: 1;
}
.appTitle h1{
  margin: 0;
  font-size: 48px;
}
.msg {
  font-weight: 300;
  font-size: 0.9rem;
}
#msgIn {
  animation-duration: 250ms;
}
#msgOut {
  animation-duration: 250ms;
}

.form {
  max-width: 50%;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text {
  max-width: 100%;
  text-align: center;
  font-size: 1rem;
}
#textIn {
  animation-duration: 500ms;
}
#textOut {
  animation-duration: 500ms;
}

.input {
  background-color: inherit;
  border-radius: 0.5rem;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.5);
  font-size: 2rem;
  color: #fff;
  text-align: center;
  max-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 8px 0;
}
#inputIn {
  animation-duration: 1000ms;
}
#inputOut {
  animation-duration: 1000ms;
}
#arrowIn {
  animation-duration: 1000ms;
}
#arrowOut {
  animation-duration: 1000ms;
}
#msgIn,
#textIn,
#inputIn,
#arrowIn {
  animation-name: fadeIn;
}
#msgOut,
#textOut,
#inputOut,
#arrowOut {
  animation-name: fadeOut;
  -webkit-animation-fill-mode: forwards; /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards; /* FF 5+ */
  -o-animation-fill-mode: forwards; /* Not implemented yet */
  -ms-animation-fill-mode: forwards; /* IE 10+ */
  animation-fill-mode: forwards;
}

/* mobile and tablet */
@media only screen and (max-width: 600px) {
  .form {
    width: 50vw;
    z-index: 2;
  }
  .input {
    padding: 0.5rem;
    max-width: 150px;
    font-size: 1rem;
  }
}
@media only screen and (max-width: 900px) {
  .enterName{
    flex-direction: column;
    justify-content: center;
  }
  .appTitle h1{
    font-size: 36px;
  }
  .divider{
    border-bottom: 1px solid rgba(255, 255, 255, 0.301);
    width: 80vw;
    margin: 3rem 0;
  }
  .input {
    border-radius: 0.8rem;
    padding: 0.5rem;
    margin: 0.5rem auto;
  }

  .arrow {
    font-size: 1rem;
  }

  .offlineComp{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 50%;
  }
  .offlineComp input{
    font-size: 1.5rem;
  }
  .offlineTitle{
    font-size: 1.5rem;

  }
}

/* desktops */
@media only screen and (min-width: 901px) {
  .divider{
    border-right: 1px solid rgba(255, 255, 255, 0.301);
    height: 50vh;
    margin: 0 2rem;
  }
  .form {
    width: 30vw;
    z-index: 2;
  }
  .input {
    padding: 0.5rem;
    max-width: 250px;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.1);
    transform-origin: top left;
  }
  to {
    opacity: 1;
    transform: scale(1);
    transform-origin: top left;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
    transform-origin: top left;
  }
  to {
    opacity: 0;
    transform: scale(0.1);
    transform-origin: top left;
  }
}
