.playComp, .oneOnOneComp{
    /* padding: 1rem; */
    display: flex;
    box-sizing: border-box;
}
.loadingDiv{
    position: absolute;
    top: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.loadingDiv > svg{
    font-size: 5rem;
    font-weight: 100;
}
.myInfo, .opponentInfo{
    color: 'white';
}
.oppoInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* color: #8b0000; */
}
.meInfo{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* color: #da6d25; */
}
.oppoCircle, .myCircle{
    border-radius: 50%;
}
.oppoCircle{
    background-color: #8b0000;
    margin-right: 0.2rem;
}
.myCircle{
    background-color: #da6d25;
    margin-left: 0.2rem;
}
.opponentInfo, .myInfo{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.opponentInfo{
    align-items: flex-start;
}
.myInfo{
    align-items: flex-end;
}
.giveUp{
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
  font-size: 1rem;
  z-index: 20;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}
.infoName{
    font-size: 1.2rem;
    /* font-weight: 500; */
}
.wallInfo{
    font-size: 0.9rem;
    font-weight: 300;
}
.insertWall{
    border: 1px solid #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
}
.insertWall:hover{
    border: 1px solid #000;
    color: #000;
    background-color: #fff;
}
/* mobile */
@media only screen and (max-width: 900px) {
    .playComp, .oneOnOneComp{
        flex: 1;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        box-sizing: border-box;
    }
    .myInfo, .opponentInfo{
        width: 100%;
    }
    .opponentInfo{
        padding: 0 0.5rem;
        justify-content: space-between;
        align-items: center;
    }
    .myInfo{
        /* justify-content: flex-end; */
        padding: 0 0.5rem;
        justify-content: space-between;
        align-items: center;
    }
    .oppoCircle, .myCircle{
        width: 2.5rem;
        height: 2.5rem;
    }
    .myInfo2, .opponentInfo2{
        display: flex;
    }
    #opponentInfoOFFLINE .oppoInfo, #opponentInfoOFFLINE .insertWall{
        transform: rotate(180deg);
    }
}
/* desktop */
@media only screen and (min-width: 901px) {
    .playComp{
        justify-content: center;
        width: 100%;
    }
    .oneOnOneComp{
        display: flex;
        justify-content: space-around;
        align-items: stretch;
        width: 100vw;
    }
    #opponentInfoOFFLINE, #myInfoOFFLINE {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 100%;
        margin: 0;
    }
    .oppoCircle, .myCircle{
        width: 2rem;
        height: 2rem;
    }
    .opponentInfo, .myInfo{
        /* width: 10%; */
        margin: 0.3rem auto;
        padding: 0.5rem;
    }
    .opponentInfo{
        align-self: flex-start;
    }
    .myInfo{
        align-self: flex-end;
    }
    .oneOnOneComp > .opponentInfo, .oneOnOneComp > .myInfo{
        align-self: auto;
    }
    .insertWall{
        position: absolute;
        margin-top: 5rem;
        font-size: 0.8rem;
    }
    .opponentInfo2, .myInfo2{
        display: flex;
        align-items: center;
    }
    #opponentInfoOFFLINE > .oppoCircle, #myInfoOFFLINE > .myCircle{
        width: 1rem;
        height: 1rem;
    }
}
