@media only screen and (max-width: 600px) {
    /* for mobile & tab*/
    .playerList{
        max-height: 20vh;
        padding: 0;
    }
}
@media only screen and (max-width: 600px) {
    /* for mobile */
    .playerName:active{
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 0.1rem;
    }
    .reqText{
        font-size: 0.5rem;
    }
}
@media only screen and (min-width: 601px) {
    /* for desktop and tab */
    .playerName:hover{
        background-color: rgba(255, 255, 255, 0.5);
        cursor: pointer;
        border-radius: 0.1rem;
    }
    .playerName{
        font-size: 0.8rem;
    }
    .reqText{
        font-size: 0.8rem;
        padding: 0 0.2rem;
    }
}
@media only screen and (min-width: 951px) {
    /* for desktop */
}
.playerList{
    text-align: left;
    overflow-y: auto;
}
.online-offline{
    font-weight: 600;
}
.divOffline{
    margin-bottom: 1rem;
}
.playerName{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-bottom: 1px solid rgb(87, 87, 87);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}
.requestSent{
    display: flex;
    align-items: center;
    background-color: rgb(170, 120, 26);
    border-radius: 4px;
    padding: 0 0.3rem;
}
.reqText{
    color: #000;
}
.requestRejected{
    display: flex;
    align-items: center;
    background-color: rgb(224, 53, 53);
    border-radius: 4px;
    padding: 0 0.3rem;
}
.requestAccepted{
    display: flex;
    align-items: center;
    background-color: rgb(26, 170, 26);
    border-radius: 4px;
    padding: 0 0.3rem;
}
.reqStatus{
    background-color: red;
    width: 30%;
    display: flex;
    justify-content: center;
}
.reqIcon{
    animation: rotateIcon 2s infinite linear;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

@keyframes rotateIcon {
    from {
        transform: rotate(0deg);
      }
      to {
        transform: rotate(359deg);
      }
}