@media only screen and (max-width: 600px) {
    .sideBar{
      display: none !important;
    }
    .accordTexts{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex: 1;
    }
    .name_accord{
      font-size: 1.2rem;
    }
}
.playersList{
  width: 100vw;
}
.forMobile{
  border-radius: 1rem;
  overflow: auto;
  margin: 1rem 0.5rem;
}
.name_accord{
  font-style: italic;
}
.forMobile div{
    background-color: rgb(65 65 65);
    color: #fff;
}

.playAttract{
  animation-name: attract;
  animation-duration: 1500ms;
  animation-delay: 10s;
  animation-iteration-count: infinite;
}
@media only screen and (min-width: 601px) {
  .forMobile{
    display: none !important;
  }
  .sideBar{
    margin-top: 0;
  }
}

@keyframes attract {
  0%{
    transform: scale(100%);
  }
  50%{
    transform: scale(110%);
  }
  100%{
    transform: scale(100%);
  }
}
