@media only screen and (max-width: 950px) {
    .sideBar{
      display: none !important;
    }
    .accordTexts{
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .name_accord{
      font-size: 1.2rem;
    }
}
.playersList{
  width: 100vw;
}
.forMobile{
  border-radius: 1rem;
  overflow: auto;
  margin: auto 1rem;
}
.forMobile div{
  /* background-color: #d2cb95;
  color: #ab3706; */
}
@media only screen and (min-width: 951px) {
  .forMobile{
    display: none !important;
  }
  .sideBar{
    margin-top: 0;
  }
}