.App {
  text-align: center;
  background-color: #ab3706;
  color: white;
  height: 100vh;
  width: 100vw;
  margin: 0;
  color: #d2cb95;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-family: 'Indie Flower', cursive; */
  position: relative;
}
h1{
  margin: 0;
  font-size: 3rem;
  padding-top: 1rem;
}

button{
  font-size: 1.5rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: none;
  color: #d2cb95;
  /* font-family: 'Amatic SC', cursive; */
}
button:hover{
  background-color: #d2cb95;
  /* border: 1px solid #d2cb95; */
  color: #ab3706;
  cursor: pointer;
}
.logout{
  position: fixed;
  right: 1rem;
  bottom: 1rem;
}
.sideBar{
  position: fixed;
  margin-left: 1rem;
  left: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/* mobile */
@media only screen and (max-width: 600px) {
  h1{
    margin: 0;
    font-size: 10vw;
    padding: 1rem 0;
  }
  .logout{
    right: 0rem;
    bottom: 0.1rem;
  }
}
