.App {
  text-align: center;
  color: whitesmoke;
  max-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-family: 'Indie Flower', cursive; */
  position: relative;
  box-sizing: border-box;
  /* overflow: hidden; */
  /* background-color: blue; */
  height: 100vh;
}
.appHead{
  /* background-color: aqua; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  flex: 1;
  /* background-color: rgb(201, 20, 20); */
}
.appHead h1{
  font-weight: 400;
  margin: 0;
  padding: 0.5rem 0;
  font-size: 2rem;
}
p{
  margin: 0;
  font-weight: lighter;
}
.body{
  width: 100%;  
  display: flex;
  flex: 20;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  /* background-color: #d2cb95; */
}
.sideBar{
  /* position: fixed; */
  margin-left: 1rem;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}
button{
  font-size: 1.5rem;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  background: none;
  color: #fff;
  /* font-family: 'Amatic SC', cursive; */
}
.logout{
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
  font-size: 1rem;
  z-index: 20;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}
/* mobile */
@media only screen and (max-width: 900px) {
  h1{
    margin: 0;
    font-size: 10vw;
    /* background-color: rebeccapurple; */
    /* padding: 1rem 0; */
  }
  .logout{
    right: 0rem;
    bottom: 0.1rem;
  }
  .body{
    flex-direction: column;
  }
}
@media only screen and (min-width: 601px) {
  button:hover{
    background-color: #d2cb95;
    /* border: 1px solid #d2cb95; */
    color: #ab3706;
    cursor: pointer;
  }
}

