.App {
  text-align: center;
  color: whitesmoke;
  max-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-family: 'Indie Flower', cursive; */
  font-family: 'Comic Neue', cursive;
  position: relative;
  box-sizing: border-box;
  /* overflow: hidden; */
  /* background-color: blue; */
  height: 100vh;
}
.App *{
  box-sizing: border-box;
}
.appHead{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  width: 100vw;
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.048); */
  background-color: rgba(255, 255, 255, 0.048);
  padding: 0.5rem 1rem;
}
.appH1{
  /* background-color: red; */
  display: flex;
  align-items: center;
}
.appHead h1{
  font-weight: 400;
  margin: 0;
  font-size: 2rem;
  font-weight: 700;
}
.appCube{
  height: 37px;
  aspect-ratio: 1;
  background-color: inherit;
  border: 1px solid rgba(245, 222, 179, 0.226);
  border-radius: 6px;
  display: block;
  margin-left: 4px;
}

p{
  margin: 0;
  font-weight: lighter;
}
.body{
  width: 100vw;  
  display: flex;
  flex: 20;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
  padding: 1rem;
  overflow: hidden;
}
button{
  font-size: 1rem;
  background-color: rgba(255, 255, 255, 0.301);;
  border: 1px solid  rgba(255, 255, 255, 0);
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  color: #fff;
  z-index: 10;
  display: flex;
  align-items: center;
  font-family: 'Comic Neue', cursive;
}
.signOut span{
  margin-right: 4px;
}
.logout{
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
  font-size: 1rem;
  z-index: 20;
  background-color: rgb(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
}
input{
  font-family: 'Comic Neue', cursive;
}

.alertDiv1, .alertDiv2{
  width: 20vw;
  padding: 0.5rem 1rem;
  background-color: rgba(255, 0, 0, 0.24);
  text-align: center;
  border: 1px solid rgba(255, 0, 0, 0.445);
  border-radius: 0.3rem;
  color: red;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 5vw;
  -webkit-animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.alertDiv1{
  bottom: 10vh;
}
.alertDiv2{
  top: 0vh;
}
.alertDiv2 > *{
  transform: rotate(180deg);
}
/* mobile */
@media only screen and (max-width: 600px) {
  .appHead{
    padding: 0.5rem;
  }
  .appHead h1{
    font-size: 1.5rem;
  }
  .appCube{
    height: 30px;
  }
  button{
    font-size: 0.9rem;
    padding: 0.3rem 0.5rem;
  }
  .logout{
    right: 0rem;
    bottom: 0.1rem;
  }
  .body{
    flex-direction: column;
    position: relative;
    padding: 0;
  }
  .alertDiv1, .alertDiv2{
    width: 80vw;
  }
  .winnerAlert{
    bottom: 50vh;
    position: absolute;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 10vh;
    -webkit-animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: scale-in-center 0.2s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  .winnerAlert > *{
    transform: translateX(-50%);
  }
  .winnerMsg{
    width: 60vw;
  }
  .winnerButtons{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .winnerButtons > *{
    width: 45%;
    box-sizing: border-box;
  }
  .winnerMsg, .winnerButton1, .winnerButton2{
    color: rgb(0, 253, 0);
    background-color: rgba(0, 128, 0, 0.815);
    border: 1px solid rgba(0, 253, 0);
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
  }
}
@media only screen and (min-width: 601px) {
  button:hover{
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid   rgba(255, 255, 255, 0.5);
    /* border: 1px solid #d2cb95; */
    color: #fff;
    cursor: pointer;
  }
}
@media only screen and (max-width: 600px) {
  button:active{
    background-color: rgba(255, 255, 255, 0.5);
    border: 1px solid  rgba(255, 255, 255, 0);
    /* border: 1px solid #d2cb95; */
    color: #fff;
    cursor: pointer;
  }
}

 @-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  
}
/* ----------------------------------------------
 * Generated by Animista on 2022-10-22 22:9:32
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation scale-out-center
 * ----------------------------------------
 */
 @-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
}

